<div class="works-container row">
    <div class="col-xs-12 col-md-3 title-container text-center">
        <h3 class="titleh3">Experiencia laboral</h3>
    </div>    
    <div class="col-xs-12 col-md-9 info-works" >
        <div class="row">
          <div class="work-item col d-flex" *ngFor="let trabajo of trabajos">
            <div class="card">
              <img src="{{ trabajo.img }}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"> {{ trabajo.titulo }}</h5>              
                <p class="card-text"> {{ trabajo.fecha }} </p>
                <p class="card-text"> {{ trabajo.descripcion }} </p> 
                <a [href]="trabajo.link" class="" target="_blank">Visitar Web</a>           
              </div>
            </div>
          </div>
        </div>
       
    </div>
</div>