.works-container{
    margin: 0 50px;
    position: relative;
    padding-top: 5%;

    .info-works{
        .card{
            width: 18rem !important;   
            margin: 2px;        
        }
    }
}