<div *ngIf="mensajeSalida" [@ocultarMensaje] [ngClass]="claseSalida">
    {{mensajeSalida}}
</div>

<form [formGroup]="formulario" (ngSubmit)="onSumit()">
    <div class="formulario-container row">
        <div class="col-xs-12 col-lg-12 formulario-items form-control">
            <div class="item mb-2">
                <div class="form-label">
                    <label>Nombre</label>
                    <input id="Nombre" type="text" formControlName="Nombre" class="form-control" placeholder="Ingrese su Nombre">
                    <div class="msjErrorComapoRequerido" *ngIf="formulario.get('Nombre')?.hasError('required')">
                        Campo obligatorio
                    </div>
                </div>
            </div>

            <div class="item mb-2">
                <div class="form-label">
                    <label>Primer apellido</label>
                    <input id="PrimerApellido" type="text" formControlName="PrimerApellido" class="form-control" placeholder="Ingrese su primer apellido">
                    <div class="msjErrorComapoRequerido" *ngIf="formulario.get('PrimerApellido')?.hasError('required')">
                        Campo obligatorio
                    </div>
                </div>
            </div>

            <div class="item mb-2">
                <div class="form-label">
                    <label>Segundo apellido</label>
                    <input id="SegundoApellido" type="text" formControlName="SegundoApellido" class="form-control" placeholder="Ingrese su segundo apellido">
                    <div class="msjErrorComapoRequerido" *ngIf="formulario.get('SegundoApellido')?.hasError('required')">
                        Campo obligatorio
                    </div>
                </div>
            </div>

            <div class="item mb-2">
                <div class="form-label">
                    <label>Puesto</label>
                    <input id="PuestoLaboral" type="text" formControlName="PuestoLaboral" class="form-control" placeholder="Ingrese su segundo apellido">
                    <div class="msjErrorComapoRequerido" *ngIf="formulario.get('PuestoLaboral')?.hasError('required')">
                        Campo obligatorio
                    </div>
                </div>
            </div>
        
            <div class="item mb-2">
                <div class="form-label">
                    <label>Celular</label>
                    <input [inputMask]="celular" id="Celular" type="text" formControlName="Celular" class="form-control" placeholder="Ingrese su numero celular">
                    <div class="msjErrorComapoRequerido" *ngIf="formulario.get('Celular')?.hasError('required')">
                        Campo obligatorio
                    </div>
                </div>
            </div>
        
            <div class="item mb-2">
                <div class="form-label">
                    <label>Correo electronico</label>
                    <input [inputMask]="correoElectronico" id="CorreoElectronico" type="text" formControlName="CorreoElectronico" class="form-control" placeholder="Ingrese su correo electronico">
                    <div class="msjErrorComapoRequerido" *ngIf="formulario.get('CorreoElectronico')?.hasError('required')">
                        Campo obligatorio
                    </div>
                </div>
            </div>                
        
            <div class="item mb-2">
                <div class="form-label">
                    <label>Imagen del encabezado</label>  
                    <br>  
                    <input type="file" accept=".pnj, .jpg, .jpeg" (change)="obtenerImagenBanner($event)" class="form-control-file" formControlName="ImgEncabezado" id="ImgEncabezado">         
                    <div class="msjErrorComapoRequerido" *ngIf="formulario.get('ImgEncabezado')?.hasError('required')">
                        Campo obligatorio
                    </div>
                </div>           
            </div>
        
            <div class="item mb-2">
                <div class="form-label">
                    <label>Imagen de perfil</label>   
                    <br>  
                    <input type="file" accept=".pnj, .jpg, .jpeg" (change)="obtenerImagenPerfil($event)" class="form-control-file" formControlName="ImgPerfil" id="ImgPerfil">
                    <div class="msjErrorComapoRequerido" *ngIf="formulario.get('ImgPerfil')?.hasError('required')">
                        Campo obligatorio
                    </div>                   
                </div>
            </div>

            <div class="acciones">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <button type="button" (click)="limpiarCampos()" class="btn btn-secondary">Limpiar</button>
            </div>
        </div>    
    </div>
</form>