<form [formGroup]="formulario" (ngSubmit)="onSumit()">
    <div class="formulario-container row">
        <div class="col-xs-12 col-lg-12 formulario-items form-control">
            <div class="item mb-2">
                <div class="form-label">
                    <label>Nombre</label>
                    <input id="txtNombre" type="text" formControlName="Nombre" class="form-control" placeholder="Ingrese su Nombre">
                </div>
            </div>

            <div class="item mb-2">
                <div class="form-label">
                    <label>Primer apellido</label>
                    <input id="txtPrimerApellido" type="text" formControlName="PrimerApellido" class="form-control" placeholder="Ingrese su primer apellido">
                </div>
            </div>
        
            <div class="item mb-2">
                <div class="form-label">
                    <label>Segundo apellido</label>
                    <input id="txtSegundoApellido" type="text" formControlName="SegundoApellido" class="form-control" placeholder="Ingrese su segundo apellido">
                </div>
            </div>

            <div class="item mb-2">
                <div class="form-label">
                    <label>Puesto</label>
                    <input id="txtPuestoLaboral" type="text" formControlName="PuestoLaboral" class="form-control" placeholder="Ingrese su segundo apellido">
                </div>
            </div>
        
            <div class="item mb-2">
                <div class="form-label">
                    <label>Celular</label>
                    <input id="txtCelular" type="text" formControlName="Celular" class="form-control">
                </div>
            </div>
        
            <div class="item mb-2">
                <div class="form-label">
                    <label>Correo electronico</label>
                    <input id="txtCorreoElectronico" type="text" formControlName="CorreoElectronico" class="form-control" placeholder="Ingrese su correo electronico">
                </div>
            </div>
        
            <div class="item mb-2">
                <div class="form-label">
                    <label>Contraseña</label>
                    <input id="txtContrasenna" type="password" formControlName="Contrasenna" class="form-control" placeholder="Ingrese su contraseña">
                </div>
            </div>
        
            <div class="item mb-2">
                <div class="form-label">
                    <label>Imagen del encabezado</label>  
                    <br>  
                    <input type="file" class="form-control-file" formControlName="ImgEncabezado" id="imgEncabezado">         
                </div>           
            </div>
        
            <div class="item mb-2">
                <div class="form-label">
                    <label>Imagen de perfil</label>   
                    <br>  
                    <input type="file" class="form-control-file" formControlName="ImgPerfil" id="imgPerfil">                   
                </div>
            </div>

            <div class="acciones">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <button type="button" class="btn btn-secondary">Limpiar</button>
            </div>
        </div>    
    </div>
</form>
