@import url(../../../../node_modules/font-awesome/css/font-awesome.min.css);
*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

body{
    background: #dfe9f5;
}

nav{
    position: relative;
    margin: 0%;
    margin-top:5%;
    margin-left: 5%;
    height: 99%;
    left: 0;
    background: #0073e6;
    width: 90px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1;
    border-radius: 10px;
}

.logo {
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    img{
        width: 45px;
        height: 45px;
        border-radius: 50%;
    }

    span{
        font-weight: bold;
        padding:15px;
        font-size: 18px;
        text-transform: uppercase;
    }
}

a{
    position: relative;
    color: white;
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px;
}

.fa{
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}
.nav-item {
    position: relative;
    top: 12px;
    margin-left: 10px;
    transition: color 0.3s ease; 
    font-size: 15px; 
    font-weight: bold; 
}

A:hover{
    background: #eee;
}

a:hover .nav-item {
    color: #0073e6;
}

nav:hover{
    width: 280px;
    transition: all 0.5s ease;   
}

.menu.active {
    display: block;
}
.menu {
    display: none;
}
.contenedor{
  display: flex;
  height: 100%;
  .menu{
    width: 100px;
    transition: width 0.2s linear;
  }
  .menu:hover{
    width: 280px;
    transition: all 0.5s ease;
  }
  .cuerpo{
    position: absolute;
    margin-left: 4.5%;
    flex-grow: 1; 
    width: 95.5%; 
    height: 100%;  
  }
}



@media(max-width : 5000px){
    nav:hover{
        width: 225px;
        transition: all 0.5s ease;        
    }
    span{
        font-size: 12px;
    }

    .menu {
        display: block;
    }

    .btn-menu{
        display: none;
    }
 }


 @media(max-width : 940px){
    .contenedor{
        .cuerpo{
            margin-left: 0%;            
        }
    }  
    .menu {
        display: none;
    } 
    .btn-menu{
        display: block;
    }
}

