<div class="login-container">
    <div class="login card">
        <img src="../../../assets/img/logo.png" width="80" class="card-img-top" alt="Logo">
        <div class="mb-3">
            <label for="txtCorreoElectronico" class="form-label">Correo electrónico:</label>
            <input type="email" class="form-control" id="txtCorreoElectronico" placeholder="name@example.com">
        </div>

        <div class="mb-3">
            <label for="txtContrasenna" class="form-label">Contraseña:</label>
            <input type="password" class="form-control" id="txtContrasenna" placeholder="Contraseña">
        </div>

        <button class="btn btn-primary">Iniciar sesión</button>
        <a href="" class="olvidoContrasenna">¿Olvido la contraseña?</a>
    </div>
</div>
